<!-- head -->
<%- include('../partials/head') %>
<!-- header -->
<%- include('../partials/header') %>
<body class="container">
    <%if (typeof(status) != "undefined"){
        if(status == "success"){ %>
            <div class="alert alert-success" role="alert">
                <%=mensaje%>
            </div>
        <% }
    }%>

    <% if (typeof errors != 'undefined') { %>
        <div class="alert alert-danger" role="alert">
            <p>¡Error al editar el usuario!</p>
            <ul>
                <% for( let i = 0; i < errors.length; i++ ) { %>
                    <li>
                        <%= errors[i].msg %>
                    </li>
                <% } %>
            </ul>
        </div>
    <% } %>

    <!-- Formulario de Edición de usario -->
    <div class ="container body-form">
        <div class="form-header" > 
            <h1 class="form-title titulo-f" > <i class="fa fa-user"></i>Edita tu perfil:</h1></br>
            <form action="/users/update?_method=PUT" method="POST" autocomplete="off">  
                <label for = "nombre"><h6>Nombre :</h6></label>
                <input type="text" class="form-control" id="nombre" name ="nombre" value= "<%= usuario.first_name %>" ></br>
                <label for = "apellido"><h6>Apellido:</h6></label>
                <input type="text" class="form-control" id="apellido" name ="apellido" value= "<%= usuario.last_name %>" ></br>
                <label for = "id"><h6>Dni :</h6></label>
                <input type="number" class="form-control" id="id" name ="id" value= "<%= usuario.dni_cuit %>" readonly="readonly"></br> 
                <label for = "telefono"><h6>Teléfono :</h6></label>
                <input type="number" class="form-control" id="telefono" name="telefono" value= "<%= usuario.phone %>" ></br>
                <label for = "email"><h6>Email :</h6></label> <br>
                <input type="email" class="form-control" id="email" name="email" value= "<%= usuario.email %>" readonly="readonly">
                <br>
                <button class="suscription-btn btn-color "  id="update" type="submit">Actualizar</button>
                <button class="suscription-btn btn-color "   id="borrar" type="reset">Borrar</button>
            </form>
        </div>
    </div>

<%- include('../partials/footer') %>