<!-- head -->
<%- include('../partials/head') %>
<body class="container">
  <!-- header -->
  <%- include('../partials/header') %>
  <!--Comienzo código del pago de carrito de compra-->
  <div class="cartPayment-header" >
    <h1 class="cart-payment-title">Confirmar compra</h1>
  </div>

  <div class="container">
    <div class="row">
        <div class="cart-payment-div">
            <div class="cart-payment-left col-10 col-md-7">
                <form action="">
                    <label class="cart-payment-data col-12" for="">Nombre completo</label>
                        <input class="cart-payment-input col-12" type="text" readonly value="<%= usuario.first_name %> <%= usuario.last_name %>">
                    <label class="cart-payment-data col-12" for="">DNI o CUIT</label>
                        <input class="cart-payment-input col-12" type="text" readonly value="<%= usuario.dni_cuit %>">
                    <label class="cart-payment-data col-12" for="">Teléfono</label>
                        <input class="cart-payment-input col-12" type="text" readonly value="<%= usuario.phone %>">
                    <label class="cart-payment-data col-12" for="">Domicilio</label>
                        <input class="cart-payment-input col-12" type="text" readonly value="<%= usuario.adress %>">
                      <label class="cart-payment-data col-12" for="">Email</label>
                        <input class="cart-payment-input col-12" type="text" readonly value="<%= usuario.email %>">
                </form>
                <form class="cart-payment-data form-cart col-12" action="">
                    <span class="radio-cart"><label for = “”>Seleccione método de entrega</label></span>
                    <br><input type ="radio" name = "entrega" value="entrega"> Entrega a domicilio
                    <br><br><input type ="radio" name = "entrega" value="retiro"> Retiro en tienda
                </form>
                <form class="cart-payment-data form-cart col-12" action="">
                    <span class="radio-cart"><br><label for = “”>Seleccione método de pago</label></span>
                    <br><input type ="radio" name = "pago" value="efectivo"> Efectivo/Transferencia
                    <br><br><input type ="radio" name = "pago" value="credito"> Tarjeta de crédito
                    <br><br><input type ="radio" name = "pago" value="debito"> Tarjeta de débito
                </form>
            </div>

        <!-- resumen carrito confirmado -->
            <div class="cart-payment-right col-5">
                <div class="products-payment col-12">
                <p class="cart-payment-title2">Resumen de tu compra</p>
                <% cart.Product.forEach((product, i) => { %>
                    <div class="products-cart-payment">
                        <div class="col-5">
                            <img class="cart-payment-img" src="/images/electrodomesticos/<%= product.name %> - imagen 2.jpg" alt="">
                        </div>
                        <div class="products-cart-payment-data col-7">
                            <span class="p-right-cart-name col-12"><%= product.name %></span>
                            <span class="p-right-cart col-12">$ <%= formatPrice(product.price) %></span>
                            <span class="p-right-cart col-12">Cantidad: <%= cart_products[i].units %></span>
                       </div>
                    </div>
                <% }); %>
                </div>
                <div class="cart-totals col-10 col-md-12">
                    <div class="total-title col-4 col-md-6">
                        <span class="col-12 total-cart-payment">Total: </span>
                    </div>
                    <div class="total-prices col-4 col-md-6">
                        <span class="col-12 total-cart-payment">$<%= formatPrice(total) %></span>
                    </div>
                </div>
            </div>
            <div class="cart-payment-btn col-12">
                <form action="/carts/productCartPayment/finish" method="POST">
                    <button type="submit" class="end-cart-btn">Siguiente</button>
                </form>
                <button class="col-12 col-md-2 cart-btn" Onclick="location.href='/carts/productCart'">Volver atrás</button>
            </div>
        </div>
    </div>
</div>

  <!-- footer -->
  <%- include('../partials/footer') %>