<!DOCTYPE html>
<html>
<!-- head -->
<%- include('../partials/head') %>
<body class="container">
    <!-- header -->
    <%- include('../partials/header') %>
    <!-- Products -->
    <h1 class="products-title">Nuestros productos</h1>
    <% if (usuario == undefined) { %>
    <% } else if(usuario.is_admin == false){%>
    <% } else { %>
        <br><h4 class="product-title-admin col-12">Seleccione el producto que desea eliminar o editar</h4>
    <% } %>
    <div class="container">
        <div class="row">
            <div class ="view-products">
                <% product.forEach(product => { %>
                <article class="view-product col-12 col-md-4 col-lg-3">
                    <div>
                        <img src="images/electrodomesticos/<%= product.name %> - imagen 1.jpg" alt="">
                        <h5 class="product-name"><a href="/products/<%= product.id %>"><%= product.name %> </a></h5>
                        <h5 class="product-price-view">$<%= formatPrice(product.price) %> </h5> <!-- categoria y marca?? -->
                    </div>
                </article>
                <% }); %> 
            </div>
        </div>
    </div>

            <!-- Products -->
            <!-- footer -->
            <%- include('../partials/footer') %>
        </body>
        </html>